html,
body{
    height: 100%;
    margin: 0;
    max-width: 100%;
}



.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
}


#footer,
.push {
    height: 59px;
}


.page-itme.active .page-link {
    columns: #fff;
    background-color: #6c755d;
    border: 1px solid #6c757d;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > span > a:focus,
.pagination > span > a:hover {
    color: #111;
    background-color: #d3d3d3;
    border: 1px solid #6c757d;
}
